<h1 data-ng-if="gcConfig.calendar_name">{{ gcConfig.calendar_name }}</h1>
<div class="events" data-ng-repeat="event in calendar.items">
  <div class="event-title">{{ ::event.summary }}</div>
  <div class="datetime">
    {{ start(event) }} - {{ end(event) }}
  </div>
  <div class="description" data-ng-if="gcConfig.sanitize && gcConfig.htmlDesc" data-ng-bind-html="event.description"></div>
  <div class="description" data-ng-if="!(gcConfig.sanitize && gcConfig.htmlDesc)">{{ event.description }}</div>
</div>
